
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

textarea{
    resize: vertical;
    height: 500px !important;
}
.reply{
    padding-left: 2rem;
    margin-bottom: 3.5rem;
}

.add-reply-textarea{
    height: 200px !important;
}
.add-reply-control{
    width: 100%;
}
.edit-post-form{
    max-width: 95%;
    margin: 0 auto;
}
.edit-post-form label{
    font-size: 2vh;
}
.text-justify{
    text-align: justify;
}

