@{
    ViewBag.Title = "Posts";
}
<h1>Posts</h1>

<div class="table-responsive">
    <table class="table table-borderless table-hover">
        <tr class="col-lg-8">
            <td>
                <h2>Post title Here</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias asperiores aspernatur eaque eos impedit incidunt ipsam itaque laborum magni nam porro, qui quod sequi.....</p>

                <div class="text-right">
                    <a href="#" class="btn btn-success">Read More</a>
                </div>
            </td>
        </tr>
    </table>
</div>