@model Forum.Models.ReplyViewModel

@{
    ViewBag.Title = "Reply";
}

@if (Model.Reply.Id == 0)
{
    <h1>Add Reply</h1>
}
else
{
    <h1>Edit Reply</h1>
}

<div class="reply">
    @using (Html.BeginForm("SaveReply", "Forum", Model.PostId))
    {
        <div class="form-group">
            @Html.TextAreaFor(r => r.Reply.Text, new {@class = "form-control add-reply-textarea"})
            @Html.ValidationMessageFor(r => r.Reply.Text)
        </div>

        @Html.HiddenFor(r => r.Reply.Id)
        @Html.AntiForgeryToken()
        
        <button type="submit" class="btn btn-lg btn-primary">Save</button>
    }
</div>