@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Forum</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <p>
        <a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vel elit scelerisque</h2>
        <p>
            Est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Bibendum enim facilisis gravida neque convallis a cras.
            Morbi blandit cursus risus at ultrices mi. Faucibus interdum posuere
            lorem ipsum dolor. Pharetra convallis posuere morbi leo urna molestie at elementum eu.
        </p>
        <p>
            <a class="btn btn-default" href="#">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Risus nullam eget felis eget</h2>
        <p>
            Nunc lobortis mattis aliquam. Ut porttitor leo a diam sollicitudin tempor id eu.
            Blandit aliquam etiam erat velit scelerisque in dictum non. Nisi est sit amet facilisis magna etiam tempor.
            Ac turpis egestas integer eget aliquet. Tortor aliquam nulla facilisi cras fermentum. Faucibus pulvinar elementum integer
        </p>
        <p>
            <a class="btn btn-default" href="#">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Diam sollicitudin tempor</h2>
        <p>
            Varius vel pharetra vel turpis nunc eget lorem dolor.
            Egestas dui id ornare arcu odio. Id faucibus nisl tincidunt eget nullam.
            Elit scelerisque mauris pellentesque pulvinar pellentesque..
        </p>
        <p>
            <a class="btn btn-default" href="#">Learn more &raquo;</a>
        </p>
    </div>
</div>